@font-face {
  font-family: serifa_bt_roman;
  src: url('../fonts/serifa_bt_roman.eot');
  src: url('../fonts/serifa_bt_roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/serifa_bt_roman.woff') format('woff');
        font-display: swap;
}

@font-face {
  font-family: serifa_bold_bt;
  src: url('../fonts/serifa_bold_bt.eot');
  src: url('../fonts/serifa_bold_bt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/serifa_bold_bt.woff') format('woff');
        font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  min-height: 100vh;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'serifa_bt_roman';
  font-weight: 100;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
}

h3,h4 {
  font-weight: 100;
  color: #323232;
  line-height: 1;
}

h3 {
  font-family: serifa_bold_bt;
  font-size: 26px;
}

h4 {
  font-family: serifa_bt_roman;
  font-size: 21px;
}

.fs-18 {
  font-size: 18px;
}

.banner {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
}
.owl-carousel .owl-item img {
    width: inherit !important;
    margin: auto;
}
.readslider {
    max-width: 300px;
    display: flex;
    flex-direction: row;
}

    .readslider .card {
        flex: 1;
        margin: 0 5px 5px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
        height: 220px;
        color: #000;
    }

    .readslider .card a {
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}


a:link,
a:visited,
a:hover,
a:active {
  color: #000000; 
  text-decoration: none; 
}
.resizable-text {
    width: 100%;
    height: 85px;
    font-size: 10px; 
    text-align:center;
}
        .readslider .card .img {
            height:80px;
        }

        .readslider .card .img img {
            height: 80px;
            
        }

        .readslider .card .content {
            padding: 7px 5px 5px;
        }
            .readslider .card .content .contenttext {
               font-size:16px;
                height: 85px;
                overflow: hidden;
            }



.card .content .btn {
    display: block;
    text-align: center;
    margin: 10px 0 5px 0;
}

    .card .content .btn button {
        background: #46b8da;
        color: #fff;
        border: none;
        outline: 0;
        font-size: 12px;
        padding: 5px 8px;
        border-radius: 5px;
        cursor: pointer;
        transition: .2s
    }

        .card .content .btn button:hover {
            transform: scale(.9)
        }

.owl-next, .owl-prev {
    position: absolute
}

    .owl-next > span, .owl-prev > span {
        font-size: 20px;
        font-weight: 700
    }

.owl-prev {
    left: 0;
    top: 80px
}

.owl-next {
    right: 0;
    top: 80px
}


